[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python3.11 app.py"

[packages]
slack-bolt = "*"
requests = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"
